$color-white: #fff;
$color-black: #000;
$color-text-primary: #444;
$color-text-light: #666;
$color-text-lighter: #999;
$color-text-link: #0094e7;
$color-border: #E9E9E9;
$color-background: #F7F7F7;

$size-text-h1: 26px;
$size-text-h2: 24px;
$size-text-h3: 22px;
$size-text-h4: 20px;
$size-text-h5: 18px;
$size-text-primary: 16px;
$size-text-table: 14px;

.vscode-body {
    font-family: "Microsoft YaHei" ,"微软雅黑", Arial;
    background-color: $color-white;
    h1, h2, h3, h4, h5, h6 {
        color: $color-text-primary;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    h1 {
        font-size: $size-text-h1;
        margin-bottom: 50px;
        border: 0;
    }
    h2 {
        font-size: $size-text-h2;
        margin-bottom: 30px;
    }
    h3 {
        font-size: $size-text-h3;
        margin-bottom: 30px;
    }
    h4 {
        font-size: $size-text-h4;
        margin-bottom: 30px;
    }
    h5 {
        font-size: $size-text-h5;
        margin-bottom: 30px;
    }
    h6 {
        font-size: $size-text-primary;
        margin-bottom: 30px;
    }
    blockquote {
        box-sizing: border-box;
        border-left: 6px solid #B5B6B6;
        background-color: $color-background;
        margin: 0;
        padding: 0 20px;
    }
    hr {
        border: 0;
        height: 2px;
        border-bottom: 1px solid #B5B6B6;
    }
    p {
        color: $color-text-primary;
        font-size: $size-text-primary;
        line-height: 28px;
        margin-bottom: 28px;
    }
    a {
        color: $color-text-link;
        text-decoration: underline;
    }
    s {
        color: $color-text-lighter;
    }
    table {
        font-size: $size-text-table;
        border-collapse: collapse;
        background-color: $color-white;
        border: 1px solid $color-border;
        width: auto;
        max-width: 100%;
        margin-bottom: 28px;
        > thead {
            > tr{
                > th {
                    color: $color-text-primary;
                    background-color: $color-background;
                    font-weight: bold;
                    border: 1px solid $color-border;
                    padding: 14px;
                }
            }
        }
        > tbody {
            > tr {
                > td {
                    color: $color-text-light;
                    border: 1px solid $color-border;
                    padding: 14px;
                }
                + tr {
                    > td {
                        border: 1px solid $color-border;
                    }
                }
            }
        }
    }
    ol, ul {
        > li {
            font-size: $size-text-primary;
            color: $color-text-primary;
        }
    }
}
